extends layout

block content
    div(class="container")
        svg(class='canvas')
            rect(class= 'board')
            rect(class="goal goal_left")
            rect(class="goal goal_right")
            rect(class="striker striker_left")
            rect(class="striker striker_right")
            rect(class="ball")