doctype html
html
  head
    script(src='javascripts/jquery.js')
    script(src='javascripts/socket.io.js')
    script(src='javascripts/main.js')
    link(href='stylesheets/style.css')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
